.cards {
  margin: 0 auto;
  margin-bottom: 60px;
  max-width: max-content;
  display: grid;
  grid-template-columns: 345px 345px 345px;
  gap: 60px;
}

.cards .card {
  height: 385px;
  box-shadow: 5px 5px 30px 7px rgba(0, 0, 0, 0.25),
    -5px -5px 30px 7px rgba(0, 0, 0, 0.22);
  cursor: pointer;
  transition: 0.4s;
  border-radius: 40px;
}

.card .card__image {
  width: 345px;
  height: 345px;
  display: block;
  object-fit: cover;
  border-top-left-radius: 40px;
  border-top-right-radius: 10px;
}

.card .card_content {
  text-align: center;
  border-radius: 0px 0px 40px 10px;
  font-family: sans-serif;
  font-weight: bold;
  background-color: #2c3e50;
  font-size: 30px;
  height: 40px;
}

.card:hover {
  transform: scale(0.9, 0.9);
  box-shadow: 5px 5px 30px 15px rgba(0, 0, 0, 0.25),
    -5px -5px 30px 15px rgba(0, 0, 0, 0.22);
}

.title-white {
  color: white;
}
