{% extends  "base.html"  %}
{% load static %}

<!--Subject Name-->
{% block head %} Discrete Mathematics {% endblock %}

<!--Title-->
{%block title%}MTH401{% endblock %}

<!--Unit 1 Name-->
{%block unit1%}Logic and Proofs{% endblock %}

<!--Unit 1 ClassNotes-->
{% block c1note%} 
    <a href="{% static 'images/python.jpg' %}" download>
        <i class="fas fa-sticky-note fa-3x"></i>
    </a>
{% endblock %}

<!--Unit 1 PPT-->
{% block c1ppt%} 
    <a href="#">
        <i class="fas fa-desktop fa-3x"></i>
    </a>
{% endblock %}

<!--Unit 2 Name-->
{%block unit2%}Recurrence relations{% endblock %}

<!--Unit 2 ClassNotes-->
{% block c2note%} 
    <a href="{% static 'images/python.jpg' %}" download>
        <i class="fas fa-sticky-note fa-3x"></i>
    </a>
{% endblock %}

<!--Unit 2 PPT-->
{% block c2ppt%} 
    <a href="#">
        <i class="fas fa-desktop fa-3x"></i>
    </a>
{% endblock %}

<!--Unit 3 Name-->
{%block unit3%}Counting principles and relations{% endblock %}

<!--Unit 3 ClassNotes-->
{% block c3note%} 
    <a href="{% static 'images/python.jpg' %}" download>
        <i class="fas fa-sticky-note fa-3x"></i>
    </a>
{% endblock %}

<!--Unit 3 PPT-->
{% block c3ppt%} 
    <a href="#">
        <i class="fas fa-desktop fa-3x"></i>
    </a>
{% endblock %}

<!--Unit 4 Name-->
{%block unit4%}Graphs theory I{% endblock %}

<!--Unit 4 ClassNotes-->
{% block c4note%} 
    <a href="{% static 'images/python.jpg' %}" download>
        <i class="fas fa-sticky-note fa-3x"></i>
    </a>
{% endblock %}

<!--Unit 4 PPT-->
{% block c4ppt%} 
    <a href="#">
        <i class="fas fa-desktop fa-3x"></i>
    </a>
{% endblock %}

<!--Unit 5 Name-->
{%block unit5%}Graphs theory II{% endblock %}

<!--Unit 5 ClassNotes-->
{% block c5note%} 
    <a href="{% static 'images/python.jpg' %}" download>
        <i class="fas fa-sticky-note fa-3x"></i>
    </a>
{% endblock %}

<!--Unit 5 PPT-->
{% block c5ppt%} 
    <a href="#">
        <i class="fas fa-desktop fa-3x"></i>
    </a>
{% endblock %}

<!--Unit 6 Name-->
{%block unit6%}Numbers theory and its application in cryptography{% endblock %}

<!--Unit 6 ClassNotes-->
{% block c6note%} 
    <a href="{% static 'images/python.jpg' %}" download>
        <i class="fas fa-sticky-note fa-3x"></i>
    </a>
{% endblock %}

<!--Unit 6 PPT-->
{% block c6ppt%} 
    <a href="#">
        <i class="fas fa-desktop fa-3x"></i>
    </a>
{% endblock %}