{% extends  "base.html"  %}
{% load static %}

<!--Subject Name-->
{% block head %} Python Programming {% endblock %}

<!--Title-->
{%block title%}INT213{% endblock %}

<!--Unit 1 Name-->
{%block unit1%}Introduction, Variables, Conditionals, Functions{% endblock %}

<!--Unit 1 ClassNotes-->
{% block c1note%} 
    <a href="{% static 'doc/tkinternew.py' %}" download="Unit1">
        <i class="fas fa-sticky-note fa-3x"></i>
    </a>
{% endblock %}

<!--Unit 1 PPT-->
{% block c1ppt%} 
    <a href="#">
        <i class="fas fa-desktop fa-3x"></i>
    </a>
{% endblock %}

<!--Unit 2 Name-->
{%block unit2%}String, Lists, Tuples and Dictionaries {% endblock %}

<!--Unit 2 ClassNotes-->
{% block c2note%} 
    <a href="{% static 'images/python.jpg' %}" download="python.jpg">
        <i class="fas fa-sticky-note fa-3x"></i>
    </a>
{% endblock %}

<!--Unit 2 PPT-->
{% block c2ppt%} 
    <a href="#">
        <i class="fas fa-desktop fa-3x"></i>
    </a>
{% endblock %}

<!--Unit 3 Name-->
{%block unit3%}Classes and objects, OOP terminology{% endblock %}

<!--Unit 3 ClassNotes-->
{% block c3note%} 
    <a href="{% static 'images/python.jpg' %}" download>
        <i class="fas fa-sticky-note fa-3x"></i>
    </a>
{% endblock %}

<!--Unit 3 PPT-->
{% block c3ppt%} 
    <a href="#">
        <i class="fas fa-desktop fa-3x"></i>
    </a>
{% endblock %}

<!--Unit 4 Name-->
{%block unit4%}Files and Exceptions, GUI{% endblock %}

<!--Unit 4 ClassNotes-->
{% block c4note%} 
    <a href="{% static 'images/python.jpg' %}" download>
        <i class="fas fa-sticky-note fa-3x"></i>
    </a>
{% endblock %}

<!--Unit 4 PPT-->
{% block c4ppt%} 
    <a href="#">
        <i class="fas fa-desktop fa-3x"></i>
    </a>
{% endblock %}

<!--Unit 5 Name-->
{%block unit5%}Using Databases with Pyhton{% endblock %}

<!--Unit 5 ClassNotes-->
{% block c5note%} 
    <a href="{% static 'images/python.jpg' %}" download>
        <i class="fas fa-sticky-note fa-3x"></i>
    </a>
{% endblock %}

<!--Unit 5 PPT-->
{% block c5ppt%} 
    <a href="#">
        <i class="fas fa-desktop fa-3x"></i>
    </a>
{% endblock %}

<!--Unit 6 Name-->
{%block unit6%}Matplotlib, Pandas, Numpy Arrays{% endblock %}

<!--Unit 6 ClassNotes-->
{% block c6note%} 
    <a href="{% static 'images/python.jpg' %}" download>
        <i class="fas fa-sticky-note fa-3x"></i>
    </a>
{% endblock %}

<!--Unit 6 PPT-->
{% block c6ppt%} 
    <a href="#">
        <i class="fas fa-desktop fa-3x"></i>
    </a>
{% endblock %}