{% extends  "base.html"  %}
{% load static %}

<!--Subject Name-->
{% block head %} Software Engineering {% endblock %}

<!--Title-->
{%block title%}CSE320{% endblock %}

<!--Unit 1 Name-->
{%block unit1%}Introduction to Software Engineering{% endblock %}

<!--Unit 1 ClassNotes-->
{% block c1note%} 
    <a href="{% static 'images/python.jpg' %}" download>
        <i class="fas fa-sticky-note fa-3x"></i>
    </a>
{% endblock %}

<!--Unit 1 PPT-->
{% block c1ppt%} 
    <a href="#">
        <i class="fas fa-desktop fa-3x"></i>
    </a>
{% endblock %}

<!--Unit 2 Name-->
{%block unit2%}Issues in Software Design{% endblock %}

<!--Unit 2 ClassNotes-->
{% block c2note%} 
    <a href="{% static 'images/python.jpg' %}" download>
        <i class="fas fa-sticky-note fa-3x"></i>
    </a>
{% endblock %}

<!--Unit 2 PPT-->
{% block c2ppt%} 
    <a href="#">
        <i class="fas fa-desktop fa-3x"></i>
    </a>
{% endblock %}

<!--Unit 3 Name-->
{%block unit3%}Object modelling{% endblock %}

<!--Unit 3 ClassNotes-->
{% block c3note%} 
    <a href="{% static 'images/python.jpg' %}" download>
        <i class="fas fa-sticky-note fa-3x"></i>
    </a>
{% endblock %}

<!--Unit 3 PPT-->
{% block c3ppt%} 
    <a href="#">
        <i class="fas fa-desktop fa-3x"></i>
    </a>
{% endblock %}

<!--Unit 4 Name-->
{%block unit4%}Testing, Introduction to selenium{% endblock %}

<!--Unit 4 ClassNotes-->
{% block c4note%} 
    <a href="{% static 'images/python.jpg' %}" download>
        <i class="fas fa-sticky-note fa-3x"></i>
    </a>
{% endblock %}

<!--Unit 4 PPT-->
{% block c4ppt%} 
    <a href="#">
        <i class="fas fa-desktop fa-3x"></i>
    </a>
{% endblock %}

<!--Unit 5 Name-->
{%block unit5%}Software project management{% endblock %}

<!--Unit 5 ClassNotes-->
{% block c5note%} 
    <a href="{% static 'images/python.jpg' %}" download>
        <i class="fas fa-sticky-note fa-3x"></i>
    </a>
{% endblock %}

<!--Unit 5 PPT-->
{% block c5ppt%} 
    <a href="#">
        <i class="fas fa-desktop fa-3x"></i>
    </a>
{% endblock %}

<!--Unit 6 Name-->
{%block unit6%}Quality management, Advance techniques of Soft. Engi.{% endblock %}

<!--Unit 6 ClassNotes-->
{% block c6note%} 
    <a href="{% static 'images/python.jpg' %}" download>
        <i class="fas fa-sticky-note fa-3x"></i>
    </a>
{% endblock %}

<!--Unit 6 PPT-->
{% block c6ppt%} 
    <a href="#">
        <i class="fas fa-desktop fa-3x"></i>
    </a>
{% endblock %}